@import './base.css';

#app {
  max-width: 100%;
  width: 100%;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsl(188, 100%, 44%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(188, 100%, 44%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }
}
